[2015-10-28 11:32] timriley opened #1 "Allow failing of steps based on return value, not just caught exceptions"
Right now, using a `try` step and catching an exception is the only straightforward way to fail a transaction. However, exceptions won't always be available, nor always desirable, as an indicator of an operation's failure.

I added the "inline procs" example to the README as a way to fail a transaction based on the result of the previous operation, but it's not very nice, and may perhaps encourage

[2015-10-28 11:43] timriley opened #2 "Publish events based on step success or failure"
The pattern matching on the transaction result lets us handle various error states gracefully, but since it only runs the first matching block, it's not quite flexible enough to allow us to run things in response  specific steps’ success or failure results.

Transflow [uses wisper for event publishing](https://github.com/solnic/transflow#defining-a-flow-with-event-publishers), it might be worthwhi

[2015-10-28 22:37] timriley commented on #1
We could also add `fail_unless:` to match Ruby's two if/unless flow control options.

[2015-10-28 22:50] timriley opened #3 "`try` steps should require a specific exception type to be provided"
Right now, `try` steps will catch _any_ kind of exception and fail the operation gracefully. This was easy to do using Deterministic's `try!` operation, but it isn't ideal, since it'll also catch things like `ArgumentError`, which would point to a problem with the code and should bubble up.

The more realistic scenario would be that the user knows what kind of exceptions the step operation might r

[2015-10-29 08:58] solnic commented on #1
@timriley to be honest I don't think it's a good idea and it's one of the reasons why I didn't add any "conditionals" as options to the DSL in transflow and used Either from kleisli, it's so much cleaner to do it like that. I want the transaction DSL to be clean, focusing on the flow rather than details like conditional logic. It boils down to using monads as values and relying on that interface r

[2015-10-29 09:29] timriley commented on #1
@solnic Yes, I think you're right. In fact, I think it might be nice to provide an alias for `raw` called `step` so you could have a more natural word to build up a series of steps that are _already_ returning result monads in Call Sheet.

However, the tricky thing is that I'd also like Call Sheet to be usable for people who _don't_ have monads as return values all across their application's opera

[2015-10-29 10:00] solnic commented on #1
I think number 1 priority is to keep the flow DSL clean and logic-less free. You could introduce a concept of a step that's only purpose is to make a decision whether another step should be executed or an error should be raised. Maybe it should be called "a contract step"? Something like:

[code]

This way people could keep their existing logic, theoretically :)

[2015-10-30 03:00] timriley commented on #1
You've convinced me, @solnic. Even if the rest of the operations don't Result monads, it's easy enough to add extra steps to make verification checks on the value an return Success/Failure objects as necessary. I don't even think we need a special `contract:` option here, since they work just as well as top-level steps like everything else.

I've also removed the feature of supporting procs passed

[2015-10-30 03:00] #1 closed, assigned to nobody

[2015-10-30 09:41] solnic commented on #1
@timriley sounds good! :)

[2015-10-31 05:22] timriley commented on #3
Resolved in 9c8f6d04b6151eb565323ffd5dec7b2c44ec4c6b.

[2015-10-31 05:22] #3 closed, assigned to timriley

[2015-10-31 10:01] timriley commented on #2
Resolved in 20896b273c6703b5d61f615ae76122b3a90b6012.

[2015-10-31 10:01] #2 closed, assigned to nobody

[2015-12-20 00:56] timriley opened #6 "Allow call sheets to be copied and modified"
@apotonick has raised a use case in which he'd set up a "base" call sheet of some kind and then modify it based on certain runtime conditions.

Adding support for call sheets to be copied and modified seems like it could be done fairly nicely, without affecting any of the existing API.

Something like this for adding new steps:

[code]

And for removing steps:

[code]

Both of these methods would

[2015-12-20 21:59] apotonick commented on #6
:heart:

[2015-12-21 00:02] apotonick commented on #6
Assuming that the block is simply invoked in the callsheet context, you may add multiple steps in one `insert` go, right?

[2015-12-21 00:24] timriley commented on #6
Yeah, that'd be the plan.

[2015-12-26 12:00] timriley commented on #6
Resolved by #7

[2015-12-26 12:00] #6 closed, assigned to timriley

[2016-01-04 09:44] kwando opened #8 "Result matching API changed"
Commit face0888b385af571d50a9bf8aa2f25be4be2c6a changed the result matching API, this is not mentioned in the CHANGE log and the example in the README (in this section https://github.com/icelab/call_sheet#calling-a-transaction) is not valid anymore.

[2016-01-04 10:01] timriley commented on #8
Ah yes! Thanks for the prompt about this, @kwando. I'll update the README and CHANGELOG tomorrow.

[2016-01-04 10:39] solnic commented on #8
Would be nice to finally find/write a good tool for maintaining code examples in docs which makes sure they actually run with latest version.

[2016-01-04 11:34] timriley opened #9 "Focus README on preferred usage"
Focus on working with the ordinary `step` operations that already return `Either` objects, and move discussion around the other step adapters further down the page.

[2016-01-05 03:54] timriley opened #10 "Add `Transaction#dup`"

[2016-02-27 00:36] davidpelaez opened #11 "Improve error when returning a bad object in step"
If I define a step and forget to return an `Either` object the error is quite cryptic: "NoMethodError: undefined method `fmap' for nil:NilClass" It would be nice if this showed another error indicating that the expectation was broken.

[2016-02-28 21:27] #10 closed, assigned to nobody

[2016-02-28 21:28] timriley commented on #11
@davidpelaez This is a great idea, thanks! I'll look at incorporating this the next time I'm working on call_sheet :)

[2016-03-03 16:15] davidpelaez commented on #11
Just sent a small PR to add this error. I had the problem and it was confusing to figure out where it came from so this looks useful to better assist the "type safe" style being recently promoted in functional ruby things like Dry-types :)

[2016-03-18 10:12] blelump opened #13 "A larger container with 'with' option expects larger key instead of nested hash"
Hi @timriley  ,

I'm playing with call_sheet (or dry-transaction – not sure where to open issues) and found that when using `with` option, it looks for a long key (e.g `persistance.commands.update_user`) whereas I'd expect it works like below:

[code]

Wouldn't it be easier to read? What do you think?
#### Update:

Nevermind, `dry-container` does the job!

[2016-03-18 10:20] #13 closed, assigned to nobody

[2016-03-20 21:46] timriley commented on #13
@blelump Glad you found what you needed :) Yeah, the dotted syntax is really there to demonstrate dry-container namespaces, not any sort of nested hash structure. I think it might be worth adjusting the README to just use dry-container from the beginning.

[2016-03-21 02:55] timriley opened #14 "Left(false).value gives odd results"
_Reposting this issue from @blelump after I did some repository-shuffling and it was lost._

<hr>

Hi @timriley,

consider such example:

[code]

vs.

[code]

Any idea what's going on?

[2016-03-28 00:08] joevandyk opened #15 "have better exception thrown if container doesn't have the right method"
[code]

results in:

[code]

Would like to see something like "container doesn't have method 'map' defined" or whatever.

[2016-03-29 00:10] timriley commented on #15
Thanks for the report, @joevandyk!

I actually think this is an issue more with our documentation than our implementation of resolving items from the container. The problem is that our docs use a hash, which doesn't offer the most ideal container-like behaviour.

For example, if I set up a Dry::Container and fetch a non-existent item, I get a much better error:

[code]

This is a much nicer error

[2016-03-29 00:10] #15 closed, assigned to nobody

[2016-03-29 00:21] timriley commented on #14
Hi @blelump – the issue here is that we wrap transaction failures in a [`StepFailure` object](https://github.com/dry-rb/dry-transaction/blob/master/lib/dry/transaction/step_failure.rb). This is so the failure value can be passed around with it's original step name, which is necessary for us to support our nice [matching on specific step failures](https://github.com/dry-rb/dry-transaction/blob/mast

[2016-03-29 00:21] #14 closed, assigned to nobody

[2016-03-29 00:21] #11 closed, assigned to nobody

[2016-03-29 00:24] timriley commented on #9
Now covered in https://github.com/dry-rb/dry-rb.org/issues/45

[2016-03-29 00:24] #9 closed, assigned to nobody

[2016-03-29 04:25] joevandyk commented on #15
What if instead of using `container[:thing]`, you do `container.fetch(:thing)`? That would raise a better error if you were to use a hash for the container.

[2016-03-29 04:32] timriley commented on #15
@joevandyk That would work if a hash was the only kind of container we're working with, but I want to keep the integration with the container as slim as possible, i.e. just `#[]`. In any case, Dry::Container doesn't support `#fetch`, and `#fetch` feels very Hash-specific anyway.

If you really wanted to use a hash as a container, you could do something like this:

[code]

[2016-04-23 11:49] flash-gordon opened #19 "StepFailure is missing #respond_to?"
Here is a snippet:

[code]

Not to mention that `Array("error_message")` does not throw an exception by itself.

After spending a few minutes I figured out that `error` quacks like a String object but it is actually a StepFailure object.
Adding `respond_to?` like

[code]

fixes the problem but I do not _why_ (don't have time for digging into it atm) so I didn't sent a PR :)

[2016-04-25 22:00] flash-gordon commented on #19
OK, I spent a dozen of minutes and that's what I figured out:
First of all I took a look at rubinius sources because you know ... C is not so welcome. rbx defines `Kernel#Array` [here](https://github.com/rubinius/rubinius/blob/20938ee86dcb7396c4cf2d16bb89ffd9fcee9a9d/core/kernel.rb#L99). So `Array` calls `Rubinius::Type.check_convert_type` which is described [here](https://github.com/rubinius/rubi

[2016-04-26 11:20] #19 closed, assigned to nobody

[2016-05-03 10:20] jmgarnier opened #21 "README missing some key infos for newbies / curious visitors"
This is a question about marketing of your `dry-transaction` project. Would it better to discuss straight on https://gitter.im/dry-rb/chat ?

The previous name (`callsheet`) and the current name do not give much clue about the features. Since commit https://github.com/dry-rb/dry-transaction/commit/736451ca01d12b35e51778c79f07b80260e5f499 , most of the README is empty and you have to click on the "

[2016-05-13 01:33] joevandyk opened #23 "activesupport's try conflicts with dry-transaction's try"
[code]

[code]

[2016-05-14 04:46] #23 closed, assigned to nobody

[2016-05-24 17:20] mrbongiolo opened #27 "Feature discussion: Add option `:namespaced`"
I'm using `dry-transaction` and `dry-container` in my current project. Usually I create transactions in nested namespaces like: `Api::V1::Customer::Authenticate`.

So when I configure the Transaction I would like to give it a `namespaced` option.

Usage:

[code]

Not that when `:with` is used it should ignore the current namespace so we can access other dependencies registered within the container

[2016-05-30 11:46] timriley opened #28 "Share real world examples of pub/sub"

[2016-05-30 11:47] timriley opened #29 "Share example of how a business transaction could be wrapped in a database transaction"
This seems like it would be an important thing to support/demonstrate for certain types of uses.

[2016-05-30 21:54] flash-gordon commented on #29
@timriley I have a sample btw https://gist.github.com/flash-gordon/64ebb082ec2a253db3a727bd7eafc393#file-transaction-example-rb-L2-L25
Haven't tried to use it with pub/sub yet though it's on my schedule

[2016-05-30 22:56] timriley commented on #29
@flash-gordon that's neat! Thanks for sharing 😄

I've been thinking about database transactions and have been wondering whether we should support some sort of user-provided "around" operation that can wrap each of the steps in the transaction. The goal would be to make it more straightforward to achieve what you have done with your `TransactionWrapper`. What do you think?

[2016-05-31 09:16] flash-gordon commented on #29
I think we need to start with some wishful thinking of desired interface. It can be

[code]

or

[code]

[2016-05-31 11:12] solnic commented on #29
Not sure if I like this, why not just wrap it yourself in your object?

[2016-05-31 12:10] flash-gordon commented on #29
@solnic it's more about best practices. I know for sure people underestimate importance of DB transaction especially when the are well supported by the database (e.g. in PG). No matter which option we choose we must describe how to handle DB transactions properly. Look at my example, I use exceptions for flow control which is definitely is not what I would recommend to do at home, I'm really curio

[2016-06-08 21:45] solnic opened #31 "Update to use dry-result_matcher"
Once result_matcher has support for matching on specific error type we can update this lib to use it and remove some code here

[2016-06-08 22:15] mrbongiolo commented on #31
It should be something like this?

[code]

[2016-06-08 22:29] timriley commented on #31
I think, to start with, we would simply want to maintain dry-transaction's current API and behaviour, and establish a way in dry-result_matcher to support that.

Then, that'll probably open up some other possibilities for us.

[2016-06-10 01:03] mrbongiolo commented on #31
The usage of the `step_name` is ok to start with, but as I was trying to use it, it felt a bit "strange", having to know the names of the step wasn't right. And sometimes I had a single transaction that could "validate" things in 2 or 3 different steps, that's why I ended up sending a `Left(Exception)` and then just processing it on a default failure block depending on the type.
How are you thinki

[2016-06-24 06:10] timriley commented on #31
This will depend on https://github.com/dry-rb/dry-result_matcher/issues/3 to be implemented (and be implemented flexibly enough for dry-transaction to use it).

Just noting this so we can continue the discussion in one place, over in this other issue :)

[2016-06-27 09:13] pascalbetz opened #32 "Documentation not up to date"
Trying out dry-transactions and found that the samples are not working out of the box. Probably not updated when some changes were made in regards to `dry-monads`?
Here is a working sample:

[code]

[2016-07-03 05:54] bbozo commented on #8
Include code examples from the docs in tests? (with a helpful reminder "if you see a broken test here make sure to update docs too")

[2016-07-05 22:16] timriley commented on #8
Closing this one now since the matching behaviour has stabilised, particularly with the introduction of the `Dry::Matcher` in 0.5.0.

[2016-07-05 22:16] #8 closed, assigned to nobody

[2016-07-05 22:17] timriley commented on #27
@mrbongiolo Sorry for my delayed response here. Just wanted to check whether your usage is still the same as you described, or did you find a way to improve things?

[2016-07-05 22:21] timriley commented on #32
@pascalbetz Ah yes, I think you're being bitten by the fact that kleisli installs a global monkey patch for `Left` and `Right`, but dry-monads does not.

You have two options:
1. Inside Container, `extend Dry::Monads::Either::Mixin` and then things should work, or
2. Just call `Dry::Monads.Right` directly in your steps, instead of `Right`

[2016-07-05 22:21] timriley commented on #32
I'll actually leave this open as a reminder to update the docs.

[2016-07-05 23:10] timriley opened #34 "Allow user-specified step match names"
_Copying @mrbongiolo's comments over from https://github.com/dry-rb/dry-transaction/pull/33_

<hr>

Do you still want to leave the `step_name` as default matching behavior? Couldn't we also provide a more general approach, in which we define the kind of failure type with an option `failure: :something` on the transactions? I would happily send a PR for this.

What about having: `ResultMatcher = St

[2016-07-05 23:17] mrbongiolo commented on #27
@timriley I have not looked over this option lately, as I'm using one container per operation, yeah I know. But I guess this would still help when working with a single app container and multiple levels of namespaced calls.

[2016-07-06 01:53] timriley commented on #31
Resolved in #33

[2016-07-06 01:53] #31 closed, assigned to nobody

[2016-07-06 01:53] timriley commented on #32
Docs are updated now!

[2016-07-06 01:53] #32 closed, assigned to nobody

[2016-07-06 10:01] pascalbetz commented on #32
Hello @timriley

thanks for the update. I prefer explixitely using `Driy::Monads::Right|Left` instead of including. So i went that way.

Pascal

[2016-07-08 19:14] mrbongiolo commented on #34
@timriley could we pass the step options or even the entire step into the `StepFailure`? This would allow me to build the custom matcher using the `failure:` option.
After all it makes sense that the `StepFailure` knows about the step that failed.

In this way the match: `result.value` would have access to more informations about that step.

[2016-07-17 11:10] rewritten opened #37 "Feature request: prepend operation arguments from the DSL block"
It would be useful to be able to natively pass through all the unrecognized options from the transaction block as additional kwargs at execution time.

I see a clear use case of that when having a generic configurable step and building a transaction with a specific configurable instance of it. The configurability is large enough so it does not make much sense to have several separate steps in the

[2016-07-23 11:47] timriley commented on #34
This is fixed now courtesy of #35 :)

[2016-07-23 11:47] #34 closed, assigned to nobody

[2016-07-23 11:48] timriley opened #38 "Fix circular require warning"
This showed up when running rake spec in a new dry-web-roda app with `config.warnings = true` in the spec config:

[code]

[2016-08-02 06:21] timriley opened #39 "Change signature of call methods for accepting extra step arguments"
The current signature:

[code]

Is kind of awkward, especially for optional extra arguments.

It'd be better to make it:

[code]

[2016-08-09 03:42] timriley opened #42 "Rename Sequence to something more obvious"

[2016-08-09 03:44] timriley opened #43 "Support input args of all shapes by supplying the extra step arguments via a dedicated method, not just as hash args to call"

[2016-08-23 17:15] mrbongiolo commented on #39
@timriley are you referring to the `operation.call()` within the step adapter, or am I confusing something?

[2016-08-23 21:59] mrbongiolo opened #46 "Allow to override StepAdapters"
Could we change the StepAdapters container `registry` configuration to allow for overriding instead of the default behavior of just raising an issue if trying to define a step_adapter with the same name.

I had to modify the `Try` step adapter, and in order to do so I end up having to rewrite all basic step adapters inside my CustomStepAdapters module.

What do you think @timriley?

[2016-08-25 11:12] timriley commented on #46
@mrbongiolo how do you mean rewrite? Do you actually just mean this?

[code]

Or something else?

[2016-08-25 13:12] mrbongiolo commented on #46
Ops! That's it @timriley. nvm I just forgot that I could register the step adapters directly from Dry::Transaction, my bad. :facepalm:

[2016-08-25 13:12] #46 closed, assigned to nobody

[2016-09-14 00:56] #38 closed, assigned to nobody

[2016-09-26 23:13] timriley commented on #43
This is addressed in #48, so I'll close this now.

[2016-09-26 23:13] #43 closed, assigned to nobody

[2016-09-27 22:29] timriley commented on #39
This is fixed by #48 :)

[2016-09-27 22:29] #39 closed, assigned to nobody

[2016-12-18 03:44] timriley commented on #42
Addressing this in #49.

[2016-12-18 03:44] #42 closed, assigned to nobody

[2016-12-18 03:51] timriley opened #50 "Provide a mixin to turn a single class into an transaction"
We could make it easier to mix together other objects and the class' own methods as steps.

[2016-12-18 03:52] timriley commented on #21
Thanks for your thoughts, @jmgarnier, but for the dry-rb projects, we're opting to keep the READMEs small and link out to the website, where we'll be keeping all our docs and other introductory material :)

[2016-12-18 03:52] #21 closed, assigned to nobody

[2017-01-10 23:41] timriley opened #51 "Use dedicated method to "curry" a transaction with step args"
The problem with having step args be provided as part of `Transaction#call` is that it makes it harder to cleanly determine just what the proper `input` value should be. I think it'd be better to "curry" a transaction with step args via a separate method first, and then call on the resulting object, something like this:

[code]

[2017-01-23 23:15] pabloh commented on #29
Is there, right now, a recommended way to achieve this?

[2017-02-27 00:04] timriley opened #52 "Class-based transactions"
After working with dry-transaction for a while, and across a number of apps, I see a few issues in its design:

- The `Dry.Transaction` constructor creates objects with an ancestry that app authors have no control over, so there’s no way to add behaviour to all an app’s transactions (this is important in our apps at Icelab, because we use a little `#to_queue/#call_from_queue` protocol for running

[2017-02-27 00:06] #50 closed, assigned to nobody

[2017-02-27 05:55] solnic commented on #52
Yeah I love this idea. This will be more idiomatic and more flexible. I would also say that with this API we could consider releasing 1.0.0 (assuming we find it work well for us of course).

[2017-02-27 07:04] lsimoneau opened #53 "Feature Request: Transactions without containers"
My team is keen to adopt dry-transactions in some of our systems, but some developers are a bit more hesitant about introducing containers. Currently you can't have one without the other, so even if you're not using a system-wide container for everything, you still need one for your transactions. Without adopting the whole dry-rb approach, the container ends up being an extra layer of indirection

[2017-02-27 09:09] timriley commented on #53
@lsimoneau Thanks for your thoughts here (and for giving dry-transaction a try!)

I'm up for doing this, since like you describe, it should make adoption easier for people with different kinds of application setups.

Your request comes at a good time, since I actually started thinking about similar ease-of-use improvements over in #52, just this morning. If it's OK with you, I'd probably incorpora

[2017-02-27 09:10] timriley commented on #52
@solnic Great :) I'll get started on it. Agree that this feels like the kind of API we can make it to 1.0.0 with.

[2017-02-27 14:19] AMHOL commented on #52
This sounds like a really good direction, especially the part about transaction specific logic to alter values between steps, when I was experimenting a while ago I ended up doing something like this:

[code]

Where operations were just wrappers that would wrap certain command results in a monad for transactions.

[2017-02-27 15:51] flash-gordon commented on #52
This looks awesome to me 👍

[2017-04-03 12:41] alexandru-calinoiu opened #54 "Compose transactions"
Is it possible to compose transactions?

So as for a step instead of adding an operation I should add a transaction, in theory it should be possible but I have some problems using the container as step definitions are executed before all transactions are registered.

[2017-04-03 13:43] AMHOL commented on #54
@alexandru-calinoiu yep, this is possible http://www.rubydoc.info/github/dry-rb/dry-transaction/Dry/Transaction/Sequence#append-instance_method

:smile:

[2017-04-04 12:07] alexandru-calinoiu commented on #54
Love the work you guys are doing on this, keep it up!

[2017-04-04 12:53] #54 closed, assigned to nobody

[2017-04-10 07:04] rickenharp opened #55 "When using step notifications, the *_success methods have no access to step arguments"
I was trying to implement logging through step notifications, and I notices that the *_success handlers only receive the output of the step.
In my case, the input to the step is a filename, which I wanted to log on success as well.
Would it make sense to have the success and failure steps have the same API of `(*args, value)`?

[2017-04-20 14:35] mihairadulescu commented on #55
maybe you can pass that in output of that step as well..

[2017-05-10 04:44] dNitza opened #59 "Allow for transaction steps without an input argument"
Currently, each step in a sequence is expected to have a single input argument. I ran into a scenario today where I didn't the first step to accept any arguments as its job was to prepare data for the next step in my transaction.

Below is the code for what I was aiming to achieve:

[code]

[code]

[code]

And then I would call it like so: `Main::Container["main.transactions.my_transaction"].()`

[2017-05-10 06:59] timriley commented on #59
Yep, we should totally support this. Thanks for the report, @dNitza. We'll probably do it after the work in #58, which is what we're actively developing atm.

[2017-05-14 21:47] timriley commented on #55
@rickenharp thinking this through, I wonder if you do have all the information you need to log, but just in different places: if you want to log the input of a step, wouldn't that be the output of the previous step, and get logged there?

[2017-05-14 21:49] timriley commented on #55
Ah, though I realise that some step arguments are sent externally, not just via the output of the previous step.

Yep, I think we should adjust how we broadcast notifications to include arguments. I'll probably do this after the work on #58, though, since it's our focus right now and will result in a fairly big restructure. I hope this is OK with you!

[2017-05-14 21:55] timriley opened #60 "Step notifications are disabled when passing args"
Moving this across from #47:

[2017-05-15 05:36] rickenharp commented on #55
Class-based transactions look like a **really** great change, that would be a great boon for testing in our app, so that is very OK with me :)

[2017-05-15 06:57] mihairadulescu commented on #55
@timriley nice ! .. thanks for your review!. having transaction progress callback would be really nice.

[2017-05-15 07:36] mihairadulescu commented on #52
SICK! 💯

[2017-06-14 12:04] #52 closed, assigned to nobody

[2017-06-14 12:21] timriley commented on #53
Hi @lsimoneau – we've just resolved this as part of #58 and I hope to make a release tomorrow.

You can see over in the soon-to-be-released doc updates how you can work with container-less transactions: https://github.com/dry-rb/dry-rb.org/blob/e9c56234edfb8de9beede674b045e1c584df5f5d/source/gems/dry-transaction/basic-usage.html.md#defining-a-transaction-with-local-operations

Hope this satisfies

[2017-06-14 12:21] #53 closed, assigned to nobody

[2017-06-14 15:22] mihairadulescu commented on #52
🥇

[2017-06-22 10:48] jonolsson opened #61 "Using locally defined steps with Dry::Container does not work"
Using locally defined steps and at the same time as using Dry::Container for other steps fails due to Dry::Container throwing an exception when the step can't be resolved.

[code]
[code]
[code]
Results in:
[code]
Can be fixed by changing lib/dry/transaction/operation_resolver.rb line 8 to:
[code]
I have a PR ready to be submitted for this change.

[2017-06-22 21:52] jcmfernandes commented on #61
Thanks @jonolsson, hitted the exact same problem today and was about to open an issue here 😉 that's exactly the root cause.

IMHO, specs should be using a `Dry::Container` instance as the container instead of a hash because, AFAIK, no example in the documentation uses a hash as the container.

[2017-06-22 22:01] GustavoCaso commented on #61
Thanks @jonolsson for creating the issue. I would love to see that PR. I just check the specs and we  test that all steps are local but we did not test for that case when we actually pass a `Container` https://github.com/dry-rb/dry-transaction/blob/master/spec/integration/transaction_spec.rb#L159-L180

[2017-06-23 04:07] timriley commented on #61
Thanks for the report @jonolsson! I have a moment now so I'm taking a look at this.

[2017-06-23 04:10] timriley commented on #61
@jonolsson your fix as described here looks good, will be happy to accept your PR once it's ready, thanks!

[2017-06-23 06:34] giosakti opened #62 "`try` step adapter may return nested `Right()` result"
Was it an expected behavior for `try` step adapter to wrap result with `Right()` ?

because when I try to do this:

[code]

I will get this result: `Right(Right(...))` instead of the expected `Right(...)`

I see this code `dry-transaction/lib/dry/transaction/step_adapters/try.rb` was indeed wrap the result with `Right()`

[code]

[2017-06-23 06:36] GustavoCaso commented on #62
@giosakti in the example is a local step definition? or are you wrapping the step with the local method?

[2017-06-23 06:41] giosakti commented on #62
for the example actually I want to do something like this

[code]

the result will be something like this:

1. in case of failure: `Right(Left(...))`
2. in case of success: `Right(Right(...))`

[2017-06-23 06:47] GustavoCaso commented on #62
The `execute_something` can not be in the operations object inside the `container`?
Are you using a `container`?

I will play around with it but a quick solution for this case.

[code]

[2017-06-23 06:52] giosakti commented on #62
Ok, maybe I misunderstood the purpose of `try` step adapter

but I see different behavior when using normal `step` where you have to wrap the result explicitly with `Either` object, while you have to avoid wrapping with `Either` at all when using `try`

[2017-06-23 07:00] GustavoCaso commented on #62
With `step` you have to make sure your operation or return `Right` or `Left` or `Either` but in other hand `map` will wrap your result with `Right`, `tee` will execute the code in the operation and will return `Right` with the initial input as for `try` if it succeed will return the result with `Right` if not with `Left`.

Hope this has help you understand it better. You can always go check the [d

[2017-06-23 07:03] giosakti commented on #62
ok thanks!

[2017-06-23 07:03] #62 closed, assigned to nobody

[2017-06-24 10:15] jonolsson commented on #61
Nice, I have submitted the PR now.

[2017-06-28 04:28] timriley commented on #37
@rewritten I reckon this should all be doable for you now that we have class-based transactions (see the latest release) and all the normal flexibility that Ruby gives you with regular class design? I'm going to close this accordingly but please do let me know if you see any issues still.

[2017-06-28 04:28] #37 closed, assigned to nobody

[2017-06-28 04:29] timriley commented on #27
Closing due to inactivity. I think most people seem fine with the behaviour as-is :)

[2017-06-28 04:29] #27 closed, assigned to nobody

[2017-06-29 01:58] #60 closed, assigned to nobody

[2017-07-10 03:54] timriley commented on #61
Fixed in #64

[2017-07-10 03:54] #61 closed, assigned to nobody

[2017-07-11 05:04] timriley opened #66 "Add opt-in module for wrapping all steps in ROM database transaction"
This'd override the `#call` method of the transaction class, and call `super` from within a ROM transaction block.

Something like this would make it nice and easy for people to ensure DB integrity across their various steps.

[2017-07-11 05:09] timriley commented on #51
We've released this as part of 0.10.0, `#with_step_args`

[2017-07-11 05:09] #51 closed, assigned to nobody

[2017-07-11 05:11] timriley opened #67 "Support step rollback"
This could be as simple as calling a `#rollback` method (if it exists) on each of the steps run so far, in reverse order.

But the question remains: what if a `#rollback` fails?

[2017-07-11 23:04] timriley commented on #67
Should we also care about return value of rollbacks? Would they need to be monadic in the same way as the call functions? Probably not?

[2017-07-12 01:13] GustavoCaso commented on #67
Maybe the initial value passed to the transaction ?

[2017-08-04 04:09] timriley commented on #59
Fixed in #69

[2017-08-04 04:09] #59 closed, assigned to nobody

[2017-08-04 08:31] semenovDL opened #71 "Proposal: Add new step adapter for condition checks"
I find myself in a lot of situations, where I check some conditions in transaction flow.
I wrote adapter which send input to Right/Left track based on step result. It feels very native.
Maybe we could add it to the core?

[code]

Simple usecase:
[code]

[2017-08-06 08:49] prikha commented on #67
I would vote for not extending the concept of `Operation` with additional rollback functionality.

Seems like `Container` could hold something like`RollbackOperation`  and then in `Transaction` we may introduce something like this:

[code]

So every rollback should take `Left(out)`, of the previous rollback. Again I'm not sure about the propagation: should it be left or right. But it will be cool

[2017-08-06 09:02] GustavoCaso commented on #67
Currently I'm working on a spike on how this could work. We haven't decided anything in terms of API changes. So any suggestion is welcome.

Is interesting what you are suggesting. I was thinking maybe instead of declaring what is you rollback step. We can declare a transaction as having the habilita to rollback at the class level.

[code]

And with this all the step must have its rollback step de

[2017-08-06 09:12] prikha commented on #67
Personally I would not rely on naming conventions unless there is an autoloading mechanism in place. However it could cutoff some of boilerplate code.

Introducing `rollback` behavior at class level would force me to define a rollback on every step. Most of the examples I have in my head require to rollback 1-2 steps out of the chain.

Again `rollback` at class level might save some coding, but lo

[2017-08-06 10:06] GustavoCaso commented on #67
Yes you are right forcing the rollback at a class level will probably not make change since there might by steps without rollback.

:+1:

[2017-08-07 11:47] prikha commented on #67
Ok @GustavoCaso mention me if any help needed, I can work on it

[2017-08-07 12:13] GustavoCaso commented on #67
@prikha sure, are you in the gitter channel ?

[2017-08-08 10:34] cored commented on #71
@semenovDL Looks interesting; why not put the conditional inside the `pay` method and remove the need to create an operation to handle just that?

[2017-08-08 20:11] semenovDL commented on #71
@cored The case above - just simple example. Any of this steps (under `cond`/`tee`) can be shared as another operation and injected through container.

We can go even further:
[code]
This is ok, when we don't need pattern matching on other operation, but we just need to check, that it success.

Also, we always could pattern matching on our `cond` step:
[code]

[2017-08-24 12:13] semenovDL commented on #71
@timriley what do you think about it?

[2017-08-24 22:36] timriley commented on #71
@semenovDL sorry for the delay in my response!

Yeah, I think something like this would be nice and it'd be even more useful now that we support local methods as steps.

So I'd love to see a PR for this.

My only other thought was about naming. I wonder if `check` is a bit more expressive than `cond`?

[2017-08-31 17:00] semenovDL commented on #71
@timriley `check` is fine for me.
Make PR https://github.com/dry-rb/dry-transaction/pull/73

upd. probably `guard` will be better alternative for naming?

[2017-09-29 08:12] htp opened #75 "Can't override operations unless they came from a container"
Using dry-transaction 0.10.2 (and Ruby 2.3.4p301, if it matters), I'm able to override operations only if they came from a container.

That is, this works:

[code]

But this does not:

[code]

I expected the `Example2` case to behave the same way as the `Example1` case. Is this a known limitation or expected behavior of class-based transactions?

[2017-09-30 06:32] GustavoCaso commented on #75
@htp I will have a look at it

[2017-09-30 07:02] htp commented on #75
Let me know if there’s anything I can do to help.

[2017-10-05 20:43] GustavoCaso commented on #75
@htp I have been investigating and looks like in the actual implementation it preferences the methods defined in the class itself over the ones injected.

In the first examples works because since is not defined in the class, but in the second example is defined in the class and also injected, It will pick the one from the class. https://github.com/dry-rb/dry-transaction/blob/master/lib/dry/transa

[2017-10-06 08:11] htp commented on #75
Thanks for taking a look!

Yes, I am.

I wanted to inject some operations for testing purposes, exactly as documented on the [injecting operations](http://dry-rb.org/gems/dry-transaction/injecting-operations/) page in dry-transaction's documentation.

I'm currently using only class-based transactions, and I'm okay with working around the issue by defining operations in my container. But: for the s

[2017-10-09 08:23] htp commented on #75
Ah- looks like [wrapping operations](http://dry-rb.org/gems/dry-transaction/wrapping-operations/) is why.

[2017-10-09 13:15] GustavoCaso commented on #75
Indeed @htp.
Sorry for the late response

[2017-10-09 14:23] pashagray opened #76 "Additional arguments when reusing operations in steps"
I wondering about providing additional arguments to steps. For example I have validate operation, which demands not only for input data, but also demands for some validator class.
For example:
[code]
While reading source code I see that such DSL (`args: { validator: UserForm } }`) is provided for passing `options`, but they are not accessible in `call` method.

Is it a good idea to implement such

[2017-10-09 20:46] GustavoCaso commented on #76
Hi @PavelTkachenko.

Your example above is interesting

So far we have a method but is missing documentation on the official website. `step_with_args` https://github.com/dry-rb/dry-transaction/blob/master/lib/dry/transaction/instance_methods.rb#L56

You can pass additional arguments to step operations using `#with_step_args`. Provide the operations as keys, and the arguments as an array. The argum

[2017-10-10 03:54] pashagray commented on #76
Hello @GustavoCaso!
This approach still requires to pass arguments outside of transaction. There is no way to provide additional arguments to steps within a transaction. I'll create a pull request to show this case in details.

[2017-10-10 06:49] GustavoCaso commented on #76
@PavelTkachenko
Yes, there is no way to pass arguments from the Transaction. So far we have the one I show you.
I think your solution could work. @timriley what do you think?

[2017-10-11 07:42] GustavoCaso commented on #75
@htp should we close this issue?

[2017-10-11 20:00] htp commented on #75
I feel like injected operations should take precedence over all other operations, regardless of whether the other operations were defined as instance methods or were resolved from a container.

I suppose that's more of a change in behavior than it is a bug, so yeah- I'll close the issue. If I'm able to find some free time, I'll send a PR your way :)

[2017-10-12 13:43] GustavoCaso commented on #75
I would also have a look at it Thanks for the feedback @htp

[2017-10-12 14:30] timriley commented on #75
Hi @htp, thanks for submitting this, and thanks also @GustavoCaso for talking this through!

It's an interesting behaviour you came across, @htp. I'd never thought about supporting replacement of instance method-based step operations by injected objects because I considered those instance methods to be "intrinsic" to the class, i.e. not separate enough to be some sort of external concern/external

[2017-10-12 14:40] timriley commented on #75
However, I think if we did implement this behaviour, it wouldn't be able to satisfy your use case in your original issue description. Because I'd still want instance methods to behave in the same way for all steps — i.e. they're always called first, before any operation object, and a call to `super` from within the instance method will call the operation object.

So this won't allow an injected op

[2017-10-12 14:49] timriley commented on #76
Hi @PavelTkachenko, now we have class-based transactions, there actually is a way to provide additional step args from within the transaction class, e.g.

[code]

And also, we can now _wrap_ individual operations in instance methods, which is another opportunity for intercepting the operation and providing default args:

[code]

Would either of those work for you?

I can see the benefit of specify

[2017-10-12 20:47] htp commented on #75
That sounds like a reasonable compromise :)

I'd like the chance to, please! Life is a bit hectic right now, so I won't be able to sit down and properly work on this for at least a week, but it *is* something I continue to think about, and I'd love to contribute to dry-rb.

[2017-10-13 02:00] timriley commented on #75
@htp I'd love for you to contribute this, happy for you to get to it when you have the time :)

[2017-10-13 03:44] pashagray commented on #76
@timriley, I faced a problem while extracting steps to operations. With my commit I refactored code to be like this:
[code]

But I think that your second proposal with using `super` is good enough. Maybe it will be more code in class, but it looks pretty good. I think that you can reject pull request. Thanks for your feedbacks!

[2017-10-13 13:07] Morozzzko opened #78 "Missing step method causes `undefined method `call' for class `FalseClass'`"
When you define a step and the method doesn't exist, Ruby throws an exception saying `undefined method 'call' for class 'FalseClass'`. I'd expect the error to be more informative.

[code]

[2017-10-13 14:15] GustavoCaso commented on #78
@Morozzzko You are absolutely right.

What about `MissingStepDefinition` or `InvalidStepDefinition` ?

[2017-10-13 14:38] Morozzzko commented on #78
I believe, `MissingStepDefinition` would be more concise. `InvalidStepDefinition` is too vague.

If this issue is up for grabs, I might submit something by Sunday evening.

[2017-10-13 15:19] GustavoCaso commented on #78
All yours :)

Love to see a PR.

Cheers mate

[2017-10-18 05:48] AMHOL commented on #76
You could also do something like this, if you don't mind your steps not being resolved from the container.

[code]

(not tested)

[2017-10-19 11:30] quaternion commented on #76
This can be implemented through custom step adapters:
[code]

Another option is change call args to `step.call_operation(input, step.options)`, but this generates dry-transaction exception  `ArgumentError: not enough arguments supplied for step +my_step+` for embedded operations.

[2017-10-31 16:41] gottfrois opened #80 "Chainable try steps from different services"
I'm not sure how to handle chainable `try` steps failures. Here is an example to illustrate:

[code]

Then on console:

[code]

In the first case, when the exception is triggered by `ServiceA`, we end-up with nested either value objects. What's the best way to handle such workflow where we want to chain multiple `try` steps?

[2017-11-01 11:00] GustavoCaso commented on #80
@gottfrois

[code]

Hope this help

Also would be interesting to check if we can provide a better way of chaining try steps

[2017-11-02 08:40] gottfrois commented on #80
Thanks for the tip here. After thinking this a bit more through i've realised it would be even better using operations and have one class play the role as the orchestrer using transaction and steps

[2017-11-02 08:40] #80 closed, assigned to nobody

[2017-11-03 17:14] htp commented on #75
(I'm still planning to work on this!)

[2017-11-16 17:46] #78 closed, assigned to nobody

[2017-11-18 09:37] GustavoCaso commented on #71
Fixed in https://github.com/dry-rb/dry-transaction/pull/84

[2017-11-18 09:37] #71 closed, assigned to nobody

[2017-11-27 09:18] thil commented on #29
We are looking into this issue as well, not sure what the plan is to tackle this ? But we extended it so that you can have nested steps,

[code]

This then enables us to wrap the nested transactions within the `with_db_transaction` method.  This also gives the added benefit of wrapping steps which means that if you wanted to exit the dry transaction early you can.

[2017-11-27 10:52] timriley commented on #29
@thil We actually just merged support for "around" steps to handle this: https://github.com/dry-rb/dry-transaction/pull/85

[2017-11-27 10:53] timriley commented on #75
@htp How you going with this one? Just checking in :)

[2017-11-28 02:31] thil commented on #29
@timriley Thanks that looks awesome, but is `around` keyword a bit misleading, as its not actually `around`.

[2017-11-28 23:05] flash-gordon commented on #29
@thil what do you mean by that? A step defined as `around` will be called "around" indeed :) As in, it wraps all the following steps by yielding a block. I didn't try but it should even be able to short circuit the execution of a transaction (although, don't see why at this point).

[2017-11-29 08:02] thil commented on #29
I guess for me when I look at `around` I think around what, looking at that its not really explicit where its around to.  Maybe I am being nitpicky.  I was thinking it would be nice to have it like `wrap` is done in Trailblazer.

As for short circuit an example we use it is with applying coupons.  The user can apply a coupon, but it is not required to be entered, but we don't want to fail the use_

[2017-11-29 09:44] solnic commented on #29
I agree. It looks very strange right now.

[2017-12-07 17:40] gottfrois opened #89 "Allow to re-map step names for subscribers"
Would be nice to include Wisper subscriber mapping changes https://github.com/krisleech/wisper#mapping-an-event-to-a-different-method

Motivation for me is that my transactions often include very generic step names as:

[code]

So it would be nice to be able to do:

[code]

[2017-12-11 22:02] GustavoCaso commented on #66
@timriley is not this issue related with what @flash-gordon has implemented regarding `around` step?

[2017-12-11 22:10] timriley commented on #66
@GustavoCaso you're right, `around` steps cover this and in any case, I think an out-of-the-box integration with rom isn't the right idea for a lib like dry-transaction either.

[2017-12-11 22:10] #66 closed, assigned to nobody

[2017-12-12 07:33] GustavoCaso commented on #89
@gottfrois I think is a valid addition to the library. Currently, @timriley has a PR that restore the broadcast method to receive the same arguments. I think once this one is merge we could talk about implementing this feature

[2017-12-12 19:53] htp commented on #75
I swear I'm going to work on this, hah.

Been working toward / prepping for a major release at the office and that's taken priority- if you'd like to close this for triaging / hygiene, I can reopen when I actually have a change in hand for you.

[2018-01-23 10:13] vanitu opened #91 "<try> method applied to Transaction class add steps to Transaction"
Applying <try> method on class with transaction resulted in additions of steps/operations

Example

[code]

[code]

[2018-01-23 10:33] vanitu commented on #91
sorry. I just understand that try method is overridden on Class methods.
closing issue, however think Its bad to override base Ruby methods.

[2018-01-23 10:33] #91 closed, assigned to nobody

[2018-01-23 11:18] flash-gordon commented on #91
@vanitu FYI there is no `try` in Ruby, it's just a well-known monkey patch from ActiveSupport. It's sad people confuse it

[2018-01-23 13:09] vanitu commented on #91
@flash-gordon
Yes. Its my mistake. ActiveSupport is to deep embedded in daily operations.

[2018-01-26 15:44] #76 closed, assigned to nobody

[2018-01-30 15:24] madis commented on #75
I'm interested in support for this functionality as well.

I stumbled on this behavioural difference as well when trying to refactor part of a system to use dry-transactions. I was going to do simple class based implementation first before deciding whether to extract individual steps to operations when I noticed it.

One of my goals is to be able to create a trace of transaction's execution (e.g.

[2018-02-06 10:46] htp commented on #75
(Not dead! I have a 20-hour flight coming up this weekend- I'll finally see about getting you a diff then.)

[2018-02-06 10:47] timriley commented on #75
Thanks @htp, good luck!

[2018-02-14 00:22] joelvh commented on #29
Hi all, i'm just getting going using the Dry gems and looking forward to leveraging what you guys have put a great effort into.

I'm intending to use transactions as steps within other transactions as a means of composition, which I presume is what dry-transaction is designed for. I was going to suggest that maybe there's a way to use a block with the `around` step by building a transaction on whi

[2018-03-14 10:36] GustavoCaso commented on #89
@gottfrois dry-transaction now use `dry-events` instead of `wisper` gem, currently that feature from wisper is not available if you want you could open an issue in [dry-events](https://github.com/dry-rb/dry-events/issues)

[2018-03-14 10:37] GustavoCaso commented on #89
I will close this issue and if end up implemented in `dry-events` I will reopen it.

Thanks @gottfrois

[2018-03-14 10:37] #89 closed, assigned to nobody

[2018-03-19 12:53] nannery opened #96 "Allow for Short-Circuiting on Step that Returns Success"
A `dry-transaction` only short-circuits when a step returns a `Failure`. I want it to be possible to short-circuit upon a step returning a  `Success`. I was not able to figure out a clean way to do this.

Besides being able to short-circuit upon a singular step resulting in a `Success`, another similar feature could be to have an option that makes *all* of the steps glued together with `or` instea

[2018-03-21 22:40] timriley opened #99 "Support matching of failure on steps following an `around` step"
See @grabr's discussion of the issue here: https://discourse.dry-rb.org/t/dry-transaction-pattern-matching-of-steps-inside-the-around-step/514/1

@flash-gordon do you have any initial thoughts on this?

[2018-03-21 22:45] timriley commented on #99
My preferred approach here would be to keep the existing pattern match API. So for a transaction like this:

[code]

I'd like to be able to do this to match on a failure in `:inner`:

[code]

[2018-03-24 06:50] GustavoCaso commented on #55
Hi, @rickenharp is been a long time, but we have completed the class-based transaction, and replace our pub/sub system with [dry-events](https://github.com/dry-rb/dry-events) and we currently send `step_name`, `args` and `value` for `succeeded` and `failed` events. Thanks for opening the issue ❤️

[2018-03-24 06:50] #55 closed, assigned to nobody

[2018-03-26 22:52] flash-gordon commented on #99
🤔🤔🤔 this looks like a bug to me, technically, `around` steps can never fail. Probably, the bug caused by an _unexpected_ outcome of composition where initial information gets overridden, but I didn't try to verify my guess

[2018-03-30 08:20] Hugo-Hache commented on #99
I faced the same problem trying to catch a specific step in a call block, but was unable to do this because of an around step. I digged into the codebase, and it looks to me the bug originates from https://github.com/dry-rb/dry-transaction/blob/406a188e127a08fb0a3e6b944587448d5b25c379/lib/dry/transaction/result_matcher.rb#L13

By replacing `result.left.step.step_name == step_name` by `result.left.

[2018-04-05 10:48] anthony-bernardo opened #100 "Injection"
How to inject an object (like a repository) in a transaction ?
I want to do this, for unit testing the transaction

[2018-04-05 10:55] timriley commented on #100
@xero88 GitHub issues aren't for support requests. Please make your request (and include some sample code) on https://discourse.dry-rb.org.

[2018-04-05 10:55] #100 closed, assigned to nobody

[2018-04-09 09:34] anthony-bernardo commented on #100
Yes I posted in the forum. But for now no responses.
But can you confirm that this functionality is implemented or not ?

[2018-04-09 10:47] timriley commented on #100
@xero88 See my reply here: https://discourse.dry-rb.org/t/dry-transaction-injection/528/5?u=timriley. Please carry on future correspondence in the forum.

[2018-04-09 10:50] timriley opened #101 "Support usage alongside dry-auto_inject"
Something like this should work:

[code]

But right now, it doesn't:

[code]

[2018-05-08 23:01] timriley commented on #99
@Hugo-Hache That'd certainly fix the issue for transactions with `around` steps, but I don't think it'd work for everything. I think we might need to built a special StepFailure object specifically for `around` steps that exposes the name of the failing step within it. To make this tidy, we might need to come up with a system that allows each step adapter to provide its own StepFailure object (wit

[2018-05-11 08:55] pashagray opened #102 "Use of deprecated Either mixin"
+Check+ step adapter use deprecated Dry::Monads::Either::Mixin
https://github.com/dry-rb/dry-transaction/blob/master/lib/dry/transaction/step_adapters/check.rb#L6

It causes NameError: uninitialized constant Dry::Monads::Either when `dry-monads` and `dry-transaction` are both included in Gemfile (github master).

[2018-05-11 09:08] pashagray commented on #102
#103

[2018-05-15 01:05] #102 closed, assigned to nobody

[2018-06-05 05:12] GustavoCaso commented on #99
Fixed in #106

[2018-06-05 05:12] #99 closed, assigned to nobody

[2018-06-06 10:14] timriley commented on #96
Thanks for the note, @nannery. I'm not sure if this kind of behaviour really fits within the design of dry-transaction.

I can see 2 alternative options that could work well for you:

1. Create a plain class using dry-monads' "[do notation](http://dry-rb.org/gems/dry-monads/do-notation/)", which is still a very clean API  but one that gives you more control, allowing you to short-circuit with a si

[2018-06-06 14:36] nannery commented on #96
Awesome, those are great ideas. I hadn't seen the Do Notation when I wrote this, looks great!

[2018-06-06 14:36] #96 closed, assigned to nobody

[2018-06-12 13:15] timriley commented on #29
We have http://dry-rb.org/gems/dry-transaction/around-steps/ now.

[2018-06-12 13:15] #29 closed, assigned to nobody

[2018-06-12 13:15] timriley commented on #28
We have http://dry-rb.org/gems/dry-transaction/step-notifications/ now.

[2018-06-12 13:15] #28 closed, assigned to nobody

[2018-06-13 04:46] GustavoCaso commented on #101
I will try having a look at it! 💎

[2018-06-13 11:37] timriley commented on #75
Fixed in #109

[2018-06-13 11:37] #75 closed, assigned to nobody

[2018-07-23 11:59] flvrone opened #110 "Documentation typo?"
Hey guys, on this [page](http://dry-rb.org/gems/dry-transaction/step-notifications/) you have the following piece of code:
[code]

I suppose that on line 5 here you meant to use `event[:args][:email]` instead of `user[:email]` as there is no `user` available :)

[2018-07-23 16:44] flvrone opened #111 "Question: Operation input validation"
If I want to validate some separate operation input...
First of all, should I actually do it? :)
If so, then, I guess it would be consistent to use so dry-validation schema for it.

So if it is only a validation for this particular operation, maybe it's right place to define it directly inside operation class, and than use it in some private method called `validate_input` for example, and call is

[2018-07-23 17:03] flvrone commented on #111
I guess that operations must be reused only inside Transactions, which should already include some other `validate` step, which will make sure that operation will get valid input.
E.g. I must assume that operations will be always receiving only valid input.

BTW, should I use dry-validation for that `validate` step? (I guess yes, of course :D)

[2018-07-25 15:46] flvrone commented on #111
OK, I'm closing this issue, seems like I've already answered my question, and now I know that you guys are having forums for stuff like that :+1:

[2018-07-25 15:46] #111 closed, assigned to nobody

[2018-08-15 17:05] DamirSvrtan commented on #67
Hi everyone! 👋First of all, thank you for all of your hard work.

I wanted to ask wether there is currently any work being done on this feature?

[2018-08-20 23:43] timriley commented on #67
Hi @DamirSvrtan, nice to hear from you!

There's no work being done on this feature currently. Honestly, I'm not even sure if such a feature should exist, given the number of questions I raised earlier:

I feel like leveraging `around` steps in some way may in fact be the better approach here? For complete flexibility this might require us to provide a nested step DSL, but I'd be interested in hea

[2018-08-22 15:08] cristicatalan opened #112 "Dry::Transaction::InvalidResultError: step must return a Result object"
If I have a transaction with the same name as one of its operations I get an error:

`Dry::Transaction::InvalidResultError: step +do_stuff+ must return a Result object`

The transaction class is this one:
[code]

Here is a demo repo: https://github.com/cristicatalan/transaction_test

You can see the error in action running `bundle exec rake dry_issue:do_stuff`

[2018-08-22 19:58] alexandru-calinoiu commented on #112
The strangest think is that if one changes the name of the step, let's say from `do_stuff` to `stuff` it will all work magically.

[2018-08-22 23:10] timriley commented on #112
I have to say, this is a really strange situation!

I think the problem is to do with how you've set up that `Rakefile`.

If I put a `byebug` at the top of your `dry_issue:do_stuff` rake task, like this:

[code]

And then I list out the private methods of `do_stuff` (the transaction object):

[code]

We'll see that it _somehow_ now has a private method called `#do_stuff` (which is _clearly_ not in

[2018-08-22 23:14] #112 closed, assigned to nobody

[2018-08-22 23:30] timriley commented on #112
Here's a much smaller reproduction of the Rake issue: https://gist.github.com/timriley/e76d99ee8fbc69633482bd0d48667b18

[2018-08-22 23:35] timriley commented on #112
OK, it turns out this is nothing to do with Rake, it's just plain #ruby behaviour.

Define a method in the global namespace, and it goes onto Kernel, and therefore becomes a private method for every object created henceforth.

[code]

tl;dr don't define un-scoped methods in Rakefiles! 😬

[2018-08-23 00:11] DamirSvrtan commented on #67
Hi @timriley, super nice to hear back from you as well! :)

I'd add a concern to your list - does rollbacking mean that the operation is going to needs some state? Not sure how to rollback otherwise in certain scenarios.

I will try to describe the scenario in the near future after I see how a certain implementation goes.

The concern around using a transaction is that not all operations have to b

[2018-08-23 06:44] cristicatalan commented on #112
I understand what you mean.

[2018-08-23 08:05] cristicatalan commented on #112
It is interesting we began to have this problem only after updating the gems.
I digged deeper and found out that after updating from dry-transaction 0.10.2 to 0.11 this issue appeared.

[2018-08-23 09:48] timriley commented on #112
You likely updated to a version that looks for instance methods in a different way to the one prior, which is why the problem coincided with the upgrade.

Either way, this is not something we can easily defend against within dry-transaction. The best fix is to make sure you don’t pollute Kernel and don’t name steps in a way that end up connecting them to unwanted instance methods.

[2018-09-05 05:28] timriley opened #113 "Allow running a transaction from a particular step"

[2018-09-24 08:49] johnvoon commented on #101
Has this issue been resolved? If no one's working on it at the moment, I'm happy to look into it.

[2018-09-24 09:35] timriley commented on #101
@johnvoon Would love you to look into it, thanks 🙏

[2018-11-14 21:18] dmaze opened #114 "around steps and Dry::Transaction::Operation don't get along"
I've gotten into the habit of writing dry-transaction operations as individual classes that `include Dry::Transaction::Operation`.  (It avoids the scary 5-letter "m" word.)  If you use this in an operation class that's intended to be an `around` step, like so:

[code]

You will get a backtrace when you run it.  https://gist.github.com/dmaze/ea78510a8870089be510a55d8fb38a8e is a more complete repro

[2018-12-19 16:19] thibpoullain opened #115 "Documentation improvement"
Hi guys,

Thanks for your work ! Could it be possible to write a little bit more documentation (exemples, etc.), because it's very very light. Hard and almost impossible to get in without exemples on google.

Thx again ! :)

[2018-12-22 21:32] nicolas-besnard commented on #115
hey @thibpoullain,

Can you provide links that helped you? I'm sure it'll help other people!

Also, what kind of example do you think might help others?

[2018-12-22 21:38] nicolas-besnard commented on #113
Hey @timriley!

Do you have more info about what you want to achieve?

[2019-01-01 09:33] timriley commented on #113
Hi @nicolas-besnard, thanks for expressing your interest here.

Apart from the obvious description of the feature ("Allow running a transaction from a particular step"), the idea here is to allow a transaction to be "re-entered" midway through so various custom step adapters can become more helpful.

Here's an example: in the apps I make with dry-transaction, I typically add an `enqueue` step adap

[2019-01-02 08:27] thibpoullain commented on #115
Hi @nicolas-besnard,

Sure, I gather the links and I'll post them here !

[2019-01-11 01:04] wilsonch commented on #115
👍
Would appreciate some documentation around how to upgrade from 0.12.1 to 0.13.0
Changes did not seem to be backward compatible.

e.g. this minimal example worked in 0.12.1
[code]

In 0.13.0, we get: Dry::Transaction::MissingStepError (Definition for step +`my_op`+ is missing)

[2019-01-11 22:13] cmavromoustakos opened #116 "Best way to pass new parameters to the next step"
I have a scenario where a transaction calls another transaction (which I am reusing elsewhere) and adds a parameter from the result of that transaction to the call to the next step. The code is as follows:

[code]

Is there a more elegant way that is recommended to accomplish the above? My worry is that I am using the library in a way that is not documented and this could possibly break in future

[2019-01-11 22:37] timriley commented on #116
Hi Constantine, could you please move this question to http://discourse.dry-rb.org? We don’t use Github issues for support questions.

Appreciate it!

Tim

[2019-01-11 22:55] #116 closed, assigned to nobody

[2019-01-16 17:22] Hugo-Hache opened #117 "Object dependency injection"
Existing injection mechanism allows today to inject operations. I'd like to know what you think about injecting instances.

I know dry-transaction brings a lot of greatness from the functional programming world, where object-oriented obsession with classes is replaced with functions.

However in a project with an architecture enforcing clear responsibilities to objects, dependency injection would

[2019-01-28 16:59] flvrone commented on #110
So I see it's fixed now, closing it.

[2019-01-28 16:59] #110 closed, assigned to nobody

[2019-05-03 00:06] mengqing commented on #29
Really loving this feature, this is awesome.

I've got a few questions in regards to transaction and I'm hoping to get some advices

1. Looking at the example, I'm assuming that when you place an `around` step, using the DB transaction as an example, that means that all the subsequent steps in that operation would be wrapped in a transaction. Would it be possible though, to specify which steps I n

[2019-05-03 02:23] dnagir opened #123 "Unexpected results with inheritance"
I was trying to abstract the common workflow using inheritance (generating new `Class` with `Dry::Transaction` included).

It was expected that it would behave just like a normal `Dry::Transaction` but it isn't.

TLDR: these tests are failing while I was expecting those to pass.

Full repro with tests - [this gist](https://gist.github.com/dnagir/71907e1b09e8be817d0644b5be1c29eb).

Run the repro:

[2019-05-03 15:12] wintersolutions opened #124 "Nested transactions with step arguments fail with ArgumentError"
When calling a transaction from another transaction the call fails if `step_args` are provided.

Error message:

[code]

pseudocode:
[code]
The issue seems to be that the arguments can't be passed down to the nested transaction but the lib tries to.

I've prepared a test case that demonstrates this:

https://github.com/dry-rb/dry-transaction/pull/125

Short discussion on discourse:

https://discou

[2019-06-20 10:28] SpyMachine opened #126 "Use results from previous steps without carrying them forward"
I have a project where I need to use the result of my first step again a few steps later but don't need it in a few steps in-between.

Is there a way I can somehow hold onto that value and reuse it later so I don't just have to string it along in steps that don't use the variable?

[2019-06-23 11:15] SpyMachine commented on #126
I think I realized dry-transaction is not what I want and have started just using dry-monads with do notation instead.

[2019-06-23 11:15] #126 closed, assigned to nobody

[2019-06-30 03:52] timriley opened #127 "Plans for 1.0.0"
### Please see the comments as the discussion has gone into a different direction after all

---

#### Original description that's now obsolete

A lot has changed since dry-transaction was brought into the dry-rb family in 2016: dry-monads was later created, and for the last year, it has offered its [Do Notation](https://dry-rb.org/gems/dry-monads/1.0/do-notation/) feature, which provides an expre

[2019-06-30 03:54] #113 closed, assigned to nobody

[2019-06-30 03:54] #67 closed, assigned to nobody

[2019-07-13 15:06] michaelherold commented on #127
A nice-to-have would be clear, concise examples for how to replicate the behavior of the different `dry-transaction` step adapters in Do Notation. For example, `tee` is very useful. I'm not sure if it's able to be 100% implemented in Do Notation, can it? A naive implementation would be something like:

[code]

That seems like it would be right? It's a little clumsy though.

What do you think?

[2019-07-14 05:39] timriley commented on #127
@michaelherold this is a good idea, I'll add it to the TODO list in the main issue body above.

As for replicating the `tee` behaviour, I don't think we need to do anything so special, it's just this:

[code]

[2019-09-05 14:37] mengqing commented on #67
Hi @timriley, wondering why this issue is closed. Is there a conclusion / alternative solution to this problem? I know there is an example for wrapping transaction around steps but is looking for a more controlled approach, eg be able to apply logic around each individual steps

[2019-10-01 19:32] no-reply commented on #127
Is this something there's interest in following through on?

A few times now I've had folks react with confusion when I mention that I'm not developing dependent code anymore, since there's no mention(?) of development being phased out in the README or on dry-rb.org

[2019-10-30 09:27] jdickey commented on #127
I'd vote for the separate-`docs`-directory approach; a quick-and-dirty render-everything-in-a-single-Markdown-file experiment yielded a ~480-line, seven-and-a-half-rendered-pages (on a large monitor) file that felt far clunkier than the existing docs. I've added an item to my personal TODOs to write a PR for this sometime next week, health and time permitting.

I agree enthusiastically with the ov

[2019-11-15 11:22] graudeejs opened #129 "Custom step adapters documentation bug"
**Describe the bug**

In the documentation of `dry-transaction section` `Custom step adapters` there is a code snippet:
[code]

However actual interface is different.

**To Reproduce**

**Expected behavior**

Code snippet in documentation needs to be updated to something like:
[code]

Also text describing interface (`#call(step, input, *args)`) needs to be updated accordingly.

**Your environment*

[2019-11-15 11:25] graudeejs commented on #127
FYI, link to `Do Notation` is broken in description of the issue. It should be something like: https://dry-rb.org/gems/dry-monads/1.0/do-notation/

[2019-11-29 19:28] EugZol commented on #53
What about something like this?

[code]

Is it possible?

[2020-02-01 18:48] paul commented on #127
I started using dry-transaction in 2018 after having used most of the command/interactor pattern gems, and fell in love with it. I have to say I am disappointed with this news. Even though it is more "magical", it provides an explicitness in its DSL that is missing from the plan do-notation.

Borrowing the example from @michaelherold:

[code]

The step DSL in the transaction removes a lot of the b

[2020-02-03 12:27] jdickey commented on #127
@paul I can well understand that sentiment. I happen to prefer `do` notation for what I suspect is the exact opposite reason to your dislike of it: it utilises an instance method (`#call`), and thus allows/encourages  the step methods it calls to be `private`. The `dry-transaction` DSL, admittedly cleaner and more explicit in several respects, at least encourages the methods called by the DSL clas

[2020-02-09 14:53] solnic commented on #127
This is an idea worth to explore. If it can be done easily I'd be in favor of keeping dry-transaction alive.

[2020-02-12 17:34] gottfrois commented on #127
I want to add my 2 cents here and say that I also really like the simplicity of dry-transaction which, in my opinion, reads better than the `do` notation. For us as well it was the gateway to using more and more every day dry-rb gems and still is.

The `do` notation seems like something that should be used to build lower-level components and is missing a more user-friendly interface on top (dry-tr

[2020-02-28 18:28] paul commented on #127
I haven't actually tried it, but isn't "refactor dry-transaction to use do-notation" basically:

[code]

[2020-02-28 18:39] solnic commented on #127
@paul I implemented a PoC a couple of weeks ago, see https://gist.github.com/solnic/66d663790a956fc811ee376249ec0447

[2020-02-29 00:30] timriley commented on #127
Folks, we’re going to find a way to keep this gem around. It’s lower priority than the current hanami integration work but we’ll aim to get it done before all the dry-rb gems hit 1.0

[2020-02-29 00:39] no-reply commented on #127
@timriley thanks for this update.

i'm in the position of making a decision about moving forward with this gem, or with a localized wrapper around Do Notation. until this message, i assumed the localized wrapper was the best approach. but if there's a commitment to keeping this alive, and some guidance about what to expect/how to be involved, that would be a boon.

how can i help?

[2020-05-26 16:54] jcmfernandes commented on #127
@timriley given your last statement, shouldn't the disclaimer present on the website about deprecation be removed?

[2020-05-27 09:08] solnic commented on #127
@jcmfernandes thanks for pointing it out! I just changed it instead of deleting it though.

[2020-06-08 04:29] rinaldifonseca commented on #127
@timriley @solnic I am starting a new project. Should I use dry-transaction without worry about the future?

[2020-06-09 03:27] timriley commented on #127
I think you should be fine. The next evolution of this gem might not retain every current feature/behaviour, but we'll have to provide clearly documented migration paths for current users no matter what.

[2020-06-29 01:24] rinaldifonseca opened #132 "Warning: Using the last argument as keyword parameters is deprecated"
### Steps to reproduce
- Install ruby 2.7.1
- Use dry-transaction

### Expected behavior
- No warning or deprecation messages

### Actual behavior
Warning:
/Users/jow/.asdf/installs/ruby/2.7.1/lib/ruby/gems/2.7.0/gems/dry-transaction-0.13.0/lib/dry/transaction/instance_methods.rb:17: warning: Using the last argument as keyword parameters is deprecated; maybe ** should be added to the call
/Users/j

[2020-07-26 16:36] Codcore commented on #127
Hi, guys! I really like dry-transaction gem, and use it massively. Is there chance to see new versions soon?

[2020-07-26 16:47] solnic commented on #127
@Codcore hey, this has to wait until after hanami 2.0 is released, unless somebody steps up and takes over the maintenance.

[2020-07-26 23:27] timriley commented on #127
In the meantime I'm going to close this issue. As I mentioned above, people can feel free to use 0.13.0, and for any subsequent releases, we'll be sure to provide clear migration paths for any aspects of the feature set that may significantly change.

[2020-07-26 23:27] #127 closed, assigned to nobody

[2020-11-11 18:29] milushov commented on #132
I have also this warning:
[code]

[2021-01-12 05:41] trammel commented on #132
This is now a breaking problem on the released ruby 3.0.0

[2021-01-22 10:16] MatUrbanski opened #135 "Ruby 3.0.0 - ArgumentError: wrong number of arguments (given 2, expected 1)"
I'm trying to use `dry-transaction` with Ruby 3.0.0. I tried to use examples from docs:

[code]

When I try to initialize `CreateUser` I receive the following error:

[code]

[2021-01-25 11:35] colszowka commented on #132
Note there seems to be a PR that fixes the deprecations at https://github.com/dry-rb/dry-transaction/pull/134. Would be very nice to get this resolved, thank you!

[2021-01-25 11:38] timriley commented on #132
I'll take a look at this in the next day or two, thanks folks.

[2021-01-31 11:42] timriley commented on #132
This is fixed via #134 and released in 0.13.1

[2021-01-31 11:42] #132 closed, assigned to nobody

[2021-01-31 11:42] timriley commented on #135
I think this should be fixed courtesy of #134 and released in 0.13.1.

Can you please try again and reopen if you have issues?

[2021-01-31 11:42] #135 closed, assigned to nobody

[2021-02-02 07:07] tiev commented on #127
I've used dry-transaction on production for a CSV importing process. And I've refactored it to use Do-notation.

My experience was very positive. Do-notation gave a cleaner code and easier to understand the reason for each step.

- dry-transaction has the DSL, while Do-notation has the body of #call method. Both are very easy to read (if you follow best-practice of short method length).
- The even

[2021-02-02 07:28] solnic commented on #127
@tiev thanks for sharing this experience! I feel like many people like dry-transaction because it's just easier to get started and it feels more familiar, that's all.

[2021-11-09 17:14] andrepcg opened #138 "Allow matching by class instead of just step_name"
## Describe the bug

When calling a transaction with a block I can't match the result by the failure class and only by the name of the step.

## To Reproduce

[code]

## Expected behavior

It should match by the resulting class and not just by the step name.

However, if I don't call it with a block and instead I pattern match the result, it works as intended.

[code]

## My environment

- Affects

[2021-12-21 18:05] paul opened #139 "Argument Error when using keyword args in matcher block"
## Describe the bug

In our application we make heavy use of Transactions, the vast majority of which operate with kwargs and return Hash objects. In several places, we also use keyword block arguments within the match block when calling the transaction (see example).

We're in the process of upgrading to Ruby 3.x, and have run in to an issue with those keyword args. The code works in 2.7.x, and i

[2021-12-22 08:07] flash-gordon commented on #139
Values are not passed as keywords to blocks so this is kinda expected. It looks like you'll have to change the application code. Being smart and detecting if a block has keywords is problematic performance-wise I guess.

[2021-12-22 17:23] paul commented on #139
@flash-gordon After poking around further, I'm not even sure its really possible in Ruby 3. Eg, this simplest possible example doesn't work any more:

[code]

[2021-12-23 03:55] flash-gordon commented on #139
It's possible when you define a method

[code]

The problem is you'll have to know the block's parameters:

[code]

So it can work but it'll be slow for all users, not only for those with keywords.

[2022-01-06 22:51] #139 closed, assigned to nobody

[2022-03-23 16:07] pboling commented on #127
https://dry-rb.org/gems/dry-transaction/master/ The warning is still in latest docs.  It appears from this discussion, and the fact that dry-transaction is now based on dry-monads, that dry-transaction survives?  Will there be a 1.0 release?

[2022-03-24 08:05] solnic commented on #127
We're *considering* rebuilding it on top of dry-monads

Double yes 🙂

[2022-07-11 11:42] saksham-jain commented on #138
Is this issue been taken up, if not I would like to pick it up and fix it?

[2022-08-05 09:02] ShalokShalom commented on #127
Oh yeah. I was just reading the documentation and thought exactly this.

I am coming from FSharp, and dry-rb seem to introduce already a bit more to the syntax as I am used to.

dry-transition is a welcome exception and I would welcome much more libraries like this, not less. ✌🏻

I would also consider re-opening this issue.

Thanks a lot 😊

[2022-08-16 09:07] boof commented on #96
Another alternative I see here is to use an around step with catch and then throw from any step:

[code]